[submodule "arduinoCode/robot230/robot230Logging/src/JsonSerialStream"]
	path = arduinoCode/robot230/robot230Logging/src/JsonSerialStream
	url = https://github.com/MSUSeconRobotics/JsonSerialStream.git
